<section class="container mx-auto mt-8">
    <h2 class="text-2xl font-bold mb-4">Popular Movies</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div class="bg-gray-800 p-4 rounded-md" *ngFor="let movie of movies">
        <img [src]="movie.poster" alt="{{movie.title}}" class="rounded-md mb-2">
        <h3 class="text-lg font-semibold text-white">{{ movie.title }}</h3>
        <p class="text-gray-300 text-sm">{{ movie.description }}</p>
    </div>
    </div>
</section>